.content-section {
  margin-left: 180px;
  display: none;
}

.content-section.active {
  display: block;
}

.title {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.15);
}

.financial-summary {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  justify-content: space-around;
  gap: 20px;
}

.card h2 {
  font-size: 1.25rem;
}
.card span {
  font-size: 1.15rem;
}

.card {
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.categorias {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 30px;
}

.categorias-lista,
.categorias-grafico {
  flex: 1;
  padding: 20px 40px;
  border-radius: 4px;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.15);
}

.categorias-lista {
  display: flex;
  flex-direction: column;
}

.categorias-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.categorias-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.categorias-item:first-child {
  font-weight: bold;
}

.span-categ-meta,
.span-categ-atual {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-categ-descricao {
  width: 150px;
}
